mixin css(url)
	link(rel='stylesheet', href=url)

mixin js(url)
	script(type='text/javascript', src=url)

!!! 5
html
	head
		title Bike rental in Amsterdam

		meta(name='apple-mobile-web-app-capable', content='yes')
		meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
		meta(name='viewport', content='width=device-width, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1.0')
		meta(name='apple-mobile-web-app-title', content='Get a Bike')
		link(rel='apple-touch-icon', href='img/iphone/57x57.png')
		link(rel='apple-touch-icon', sizes='72x72', href='img/iphone/72x72.png')
		link(rel='apple-touch-icon', sizes='114x114', href='img/iphone/114x114.png')

		+css('css/main.css')

		//- karenishe.map-pxxvu0dq
		+css('http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.css')
		//[if lte IE 8]<link href='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.ie.css' rel='stylesheet' ><![endif]

	body
		#map

		+js('//cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.js')
		+js('http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.js')
		+js('js/main.js')

		<!-- Yandex.Metrika counter --><script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter22970497 = new Ya.Metrika({id:22970497, trackLinks:true, accurateTrackBounce:true, trackHash:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/22970497" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->
