mixin css(url)
	link(rel='stylesheet', href=url)

mixin js(url)
	script(type='text/javascript', src=url)

!!! 5
html
	head
		title Get A Bike

		meta(name='apple-mobile-web-app-capable', content='yes')
		meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
		//- meta(name='format-detection', content='telephone=no')
		meta(name='viewport', content='width=device-width, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1.0')
		meta(name='apple-mobile-web-app-title', content='Get a Bike')
		link(rel='apple-touch-icon', href='img/iphone/57x57.png')
		link(rel='apple-touch-icon', sizes='72x72', href='img/iphone/72x72.png')
		link(rel='apple-touch-icon', sizes='114x114', href='img/iphone/114x114.png')

		// +css('css/main.css')

		+js('js/jquery-1.10.2.min.js')
		// +js('js/main.js')

		// karenishe.map-pxxvu0dq
		+js('http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.js')
		+css('http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.css')
		//[if lte IE 8]<link href='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.ie.css' rel='stylesheet' ><![endif]
		style.
			body { margin:0; padding:0; }
			#map { position:absolute; top:0; bottom:0; width:100%; }
			h1 { font-size:14px; font-weight:bold; padding:0 0 10px 0; margin:0;}
			p.address { padding:0 0 5px 0; margin:0;}
			p.phone { padding:0 0 5px 0; margin:0;}
			a.url { display:block; padding:0; margin:0;}
			a.route { display:block; padding:5px; margin:0; background:green; color:white; text-align:center;}

		//- +css('http://mapbox.com/mapbox.js/assets/MarkerCluster.css')
		//- +css('http://mapbox.com/mapbox.js/assets/MarkerCluster.Default.css')
		//- //[if lte IE 8]><link rel="stylesheet" href="http://mapbox.com/mapbox.js/assets/MarkerCluster.Default.ie.css" /><![endif]
		//- +js('http://mapbox.com/mapbox.js/assets/leaflet.markercluster.js')
		//- //+js('http://mapbox.com/mapbox.js/assets/realworld.388.js')
		//- +js('places.js')

	body
		#map
		+js('js/main.js')
		