body{
	margin:0;
	padding:0;
}
#map{
	position:absolute;
	top:0;
	bottom:0;
	width:100%;
}
h1{
	font-size:14px;
	font-weight:bold;
	padding:0 0 10px 0;
	margin:0;
}
p.address{
	padding:0 0 5px 0;
	margin:0 !important;
}
p.phone{
	padding:0 0 5px 0;
	margin:0 !important;
}
a.url{
	display:block;
	padding:0;
	margin:0;
}
a.route{
	display:block;
	padding:5px;
	margin:0;
	background:green;
	color:white;
	text-align:center;
}
iframe.iframe{
	border:0;
	width:1px;
	height:1px;
	float:left;
}

footer{
	position:absolute;
	bottom:20px;
	width:200px;
	height:20px;
	line-height:20px;
	left:50%;
	margin-left:-100px;
	text-align:center;
	z-index:2;
	background:rgba(0, 0, 0, .7);
	padding:5px 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	overflow:hidden;
}

.twitter-share-button{
	margin-left:10px;
	width:76px !important;
}